.header {
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 35px;
  color: rgba(93, 214, 202, 0.886);
  background-color: black;
}
