.modalWindow {
  position: absolute;
  justify-content: center;
  align-self: center;
  text-align: center;
  padding: 30px;
  background-color: rgba(93, 214, 202, 0.886);
  border: 1px solid black;

  .wrapper {
    margin-top: 30px;
  }

  .content {
    margin: 5px 5px 15px;
    font-size: 15px;
    color: black;
  }

  .moduleInput {
    outline: none;
    border: 0;
    height: 25%;
    width: 60%;
    background-color: transparent;
    font-size: 23px;
    font-family: inherit;
    border-bottom: 1px solid black;
  }
}
