:global(#root) {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Courier New", Courier, monospace;
  align-content: center;
  margin: 0;
}

.main {
  display: flex;
  position: relative;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 75%;
  overflow-y: scroll;
  background-color: black;
  color: white;

  .messages {
    flex: 1;
    overflow-y: auto;

    .messageBox {
      margin: 15px;

      .username {
        display: inline-block;
      }

      .message {
        display: inline-block;
        word-break: break-all;
      }
    }

    .messageTime {
      margin: 5px;
      font-size: 10px;
    }
  }

  .input {
    position: sticky;
    bottom: 15px;
    height: 30px;
    padding: 5px;
    border: 0;
    outline: none;
    background-color: #333333;
    color: #ffffff;
    font-size: 20px;
    margin: 15px;
    font-family: inherit;
  }

  ::placeholder {
    color: #717171;
  }
}
